.navBar {
  display: flex;
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  background: #24292f;
}

.UserSearch {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  height: 32px;
}

.input {
  width: 200px;
  border-radius: 10px;
  margin-right: 5px;
}

.searchBtn {
  border-radius: 10px;
}

.searchBtn:hover {
  background: silver;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userImg {
  height: 280px;
  width: 280px;
  border: #24292f solid 1px;
  border-radius: 10px;
}

.userLogo {
  height: 17px;
}

.userLink {
  text-decoration: none;
  margin-left: 10px;
}

.fullName {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 26px;
  line-height: 1.25;
  width: 280px;
  height: 32px;
}

.userName {
  color: #57606a;
  width: 280px;
  height: 24px;
  line-height: 1.25;
}
